name: Compile and push frontend image

on:
  push:
    branches: ["staging"]

  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: staging

    steps:
      - uses: actions/checkout@v2

      - uses: docker/login-action@v1
        name: Login to Docker Hub
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - uses: docker/setup-buildx-action@v1
        name: Set up Docker Buildx

      - uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: nicolaschambondev/ecochallenge_frontend_staging:latest
          platforms: linux/amd64,linux/arm64
          file: ./frontend/Dockerfile.prod
        name: Build and push
